.gray {
  color: #d3d4d5!important;
}

.gray-200 {
  color: #fafafa!important;
}

.gray-300 {
  color: #e9eced!important;
}

.bg-gray {
  background-color: #d3d4d5!important;
}

.bg-gray-200 {
  background-color: #fafafa!important;
}

.bg-gray-300 {
  background-color: #e9eced!important;
}

.ma0 {
  margin: 0!important;
}

.ma1 {
  margin: 4px!important;
}

.ma2 {
  margin: 8px!important;
}

.ma3 {
  margin: 16px!important;
}

.ma4 {
  margin: 24px!important;
}

.ma5 {
  margin: 32px!important;
}

.ma6 {
  margin: 64px!important;
}

.ma7 {
  margin: 128px!important;
}

.ma8 {
  margin: 256px!important;
}

.-ma1 {
  margin: -4px!important;
}

.-ma2 {
  margin: -8px!important;
}

.-ma3 {
  margin: -16px!important;
}

.-ma4 {
  margin: -24px!important;
}

.-ma5 {
  margin: -32px!important;
}

.-ma6 {
  margin: -64px!important;
}

.-ma7 {
  margin: -128px!important;
}

.-ma8 {
  margin: -256px!important;
}

.gray {
  color: #d3d4d5!important;
}

.gray-200 {
  color: #fafafa!important;
}

.gray-300 {
  color: #e9eced!important;
}

.bg-gray {
  background-color: #d3d4d5!important;
}

.bg-gray-200 {
  background-color: #fafafa!important;
}

.bg-gray-300 {
  background-color: #e9eced!important;
}

.ma0 {
  margin: 0!important;
}

.ma1 {
  margin: 4px!important;
}

.ma2 {
  margin: 8px!important;
}

.ma3 {
  margin: 16px!important;
}

.ma4 {
  margin: 24px!important;
}

.ma5 {
  margin: 32px!important;
}

.ma6 {
  margin: 64px!important;
}

.ma7 {
  margin: 128px!important;
}

.ma8 {
  margin: 256px!important;
}

.-ma1 {
  margin: -4px!important;
}

.-ma2 {
  margin: -8px!important;
}

.-ma3 {
  margin: -16px!important;
}

.-ma4 {
  margin: -24px!important;
}

.-ma5 {
  margin: -32px!important;
}

.-ma6 {
  margin: -64px!important;
}

.-ma7 {
  margin: -128px!important;
}

.-ma8 {
  margin: -256px!important;
}